* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    scroll-behavior: smooth;
}


/*navbarr*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #1e293b;
}

.nav-link {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-link a:hover {
    color: #f88e38;
}


/*name*/

.Name {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #2563eb, #06a7f1);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    background: #f97316;
}

.section {
    text-align: center;
    padding: 60px 20px;
}


/* skill container*/

.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
}